@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin scrollBarLight {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track-piece {
    background: #e0e3ea;
  }
  &::-webkit-scrollbar-corner{
    background: #e0e3ea;
  }
  &::-webkit-scrollbar-thumb {
    background: #cfd3da;
    border-radius: 5px;
  }
}

@mixin scrollBarDark {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track-piece {
    background: #191e2e;
  }
  &::-webkit-scrollbar-corner{
    background: #191e2e;
  }
  &::-webkit-scrollbar-thumb {
    background: $border;
    border-radius: 5px;
  }
}
